/* src/components/AccountSettings/AccountSettings.module.css */

.settingsContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.settingsForm {
  background-color: var(--bg-color);
  padding: 1.5rem;
  border-radius: 8px;
  border: 1px solid var(--border-color);
}

.settingsForm h3 {
  margin-top: 0;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
}

.formGroup {
  margin-bottom: 1.5rem;
}

.formGroup label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.formGroup input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid var(--input-border);
  background-color: var(--input-bg);
  color: var(--text-color);
  border-radius: 5px;
}

.submitButton {
  background-color: var(--link-color);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 5px;
}
.submitButton:hover {
  opacity: 0.9;
}

.divider {
  height: 1px;
  background-color: var(--border-color);
  margin: 1rem 0;
}



.fileUploadContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.fileUploadButton {
  background-color: var(--button-bg);
  color: var(--button-text);
  border: 1px solid var(--border-color);
  padding: 10px 15px;
  font-size: 0.9rem;
  font-weight: 600;
  border-radius: 5px;
}
.fileUploadButton:hover {
  opacity: 0.8;
}

.fileName {
  font-size: 0.9rem;
  opacity: 0.8;
  font-style: italic;
 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}